<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.app.ecp.fetch</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.240035296569-1m74r055d44okbo10tl9c00cnuk4kh04</string>
			</array>
		</dict>
	</array>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiZWNvY2FycG9vbCIsImEiOiJjbHJsNzBsMTMwbGw5MmxvMnl1OTgwNXloIn0.NEGC6kIRZ_0HOgzgAOZRvQ</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
		<string>INSendMessageIntent</string>
	</array>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Satoshi-Bold.otf</string>
		<string>Satoshi-Light.otf</string>
		<string>Satoshi-Medium.otf</string>
		<string>Satoshi-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
